<div class="section">
  <div class="container">
    <div class="section-block page-header">
      <h1>{{ page.title }}</h1></div>
      <div class="section-block">{{ page.content }}</div>
    
    <div class="section-block">
      {% section 'faq-template' %}
      
<!--h3>Mother's Day Shipping Guidelines!</h3>
<p>CUT OFF DATE: To receive your order in time for Mother&rsquo;s Day, we must receive it by <strong>FRIDAY, APRIL 9th @ 1PM EST. </strong>If you have any questions about the arrival time, please email <a href="mailto:info@lolajamesjewelry.com">info@lolajamesjewelry.com</a> before placing the order. We cannot change the shipping address once the order has been placed.</p>
<p> </p>
<p><u>For fine jewelry ring sizes/letters/styles <strong>NOT</strong> in stock</u>:</p>
<p>To receive your order in time for Mother&rsquo;s Day, we must receive it by <strong>FRIDAY, MARCH 22nd @ 1PM EST. </strong>For these styles in stock sizes/letters are noted in the description.</p>
<p><strong><u>These styles include:</u></strong> Adorable, Baguette Me Not, Chain Link Ring, Girl Boss, Lowercase and Uppercase Diamond Initials, Diamond Squad Goals, Diamond Squad Goals Single Initial, Cable Link Chain + Diamond Letter, Special Requests, Add on&rsquo;s.</p>
<p>For all other styles <strong>not in stock</strong> or on preorder – please note the timing in the description. Most take 6-8 weeks to ship. If you have any questions please email us <strong>before</strong> placing the order.</p>
<p><strong>A FEW OTHER REMINDERS:</strong></p>
<ul>
  <li>All custom, sale, personalized (even single letter) pieces are FINAL SALE.</li>
  <li>We do not offer refunds. Exchange or store credit ONLY. NO EXCEPTIONS.</li>
  <li>Common questions… &ldquo;Mini Me&rdquo; (for example) says 6 weeks, but I ordered before April 9th will I receive it in time – YES! Same for Squad Goals… Cuban Link Collection, etc. Unless it is listed above it will arrive in time!</li>
</ul-->

      
      
<!--h3>My Order</h3>
<div class="accordion mb-4" id="faq-1">
<div class="card">
<div class="card-header" id="heading-1"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">HOW DO I KNOW IF MY ORDER HAS SHIPPED?</a></div>
<div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#faq-1">
<div class="card-body">
<p>Once your order has been successfully transmitted, you will receive an order confirmation. In addition, a shipping confirmation e-mail will be sent to you once your order has been shipped. This confirmation will include the tracking number for your package. This tracking number can be used to check the status on www.fedex.com. Please allow up to 24 hours for the tracking information to be updated in the system. Please be sure to check your SPAM folder as these emails may be re-directed there.</p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-2"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">HOW CAN I MODIFY MY ORDER?</a></div>
<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#faq-1">
<div class="card-body">
<p>Please be advised that once an order has been placed we are unable to make any modifications to the order including cancellations.</p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-3"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">ITEM AVAILABILITY ?</a></div>
<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#faq-1">
<div class="card-body">
<p>Although we make every effort to keep sufficient stock of items listed on our site, occasionally we do sell out of certain products. If we are out of stock on an item that you've ordered, we will notify you via e-mail.</p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-4"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">I ORDERED PERSONALIZED AND NON-PERSONALIZED ITEMS IN ONE ORDER. DO THEY SHIP TOGETHER OR SEPARATELY?</a></div>
<div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#faq-1">
<div class="card-body">
<p>If you order other items in addition to a personalized item, they will all ship <strong>together</strong>.</p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-5"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">CAN I ADD A NAME/LETTER/SYMBOL/DIAMOND TO A NECKLACE I ALREADY OWN FROM LOLA JAMES JEWELRY?</a></div>
<div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#faq-1">
<div class="card-body">
  <p>Yes! Please click here and follow the directions listed to add to an existing necklace: <a href="https://lolajamesjewelry.com/collections/add-to-an-existing-necklace-or-bracelet">https://lolajamesjewelry.com/collections/add-to-an-existing-necklace-or-bracelet</a></p>
</div>
</div>
</div>

</div>

<h3>Shipping Guidelines</h3>
<div class="accordion mb-4" id="faq-22">
<div class="card">
<div class="card-header" id="heading-212"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-212" aria-expanded="false" aria-controls="collapse-212">WHAT ARE YOUR SHIPPING GUIDELINES?</a></div>
<div id="collapse-212" class="collapse" aria-labelledby="heading-212" data-parent="#faq-22">
<div class="card-body">
<p>Orders placed Monday-Friday before 1 PM EST will begin processing that day, excluding holidays, and will ship within 2-33 business days pending availability and credit verification. All orders placed after 1 PM EST will begin processing the next business day, and ship within 2-33 business days. Orders placed on Friday after 1 PM EST will begin processing on the following Monday. All personalized orders can take up to 6-8 weeks to ship. Lola James Jewelry will contact you with a follow-up email if the merchandise you have selected is not currently in stock or if we need additional identification provided for credit verification. Delivery time does not include Saturdays, Sundays or Holidays.</p>
</div>
</div>
</div>
  
<div class="card">
<div class="card-header" id="heading-22"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-22" aria-expanded="false" aria-controls="collapse-22">HOW LONG WILL IT TAKE TO RECEIVE MY PERSONALIZED ORDER?</a></div>
<div id="collapse-22" class="collapse" aria-labelledby="heading-22" data-parent="#faq-22">
<div class="card-body">
<p>Each style has a different shipping time frame. You can find the shipping timeline in the product description section of the item you are ordering. Please note that expedited shipping will only speed up your shipping time, not the making of the item. <strong>All personalized items can take up to 6-10 weeks to ship even if express delivery is selected.</strong> We try our best to get everything out as fast as we can!</p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-33"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-33" aria-expanded="false" aria-controls="collapse-33">CAN I RUSH ORDER A PERSONALIZED ITEM?</a></div>
<div id="collapse-33" class="collapse" aria-labelledby="heading-33" data-parent="#faq-22">
<div class="card-body">
<p>At this time we do NOT offer RUSH orders on personalized items.  </p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-44"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-44" aria-expanded="false" aria-controls="collapse-44">HOW MUCH IS SHIPPING AND HANDLING?</a></div>
<div id="collapse-44" class="collapse" aria-labelledby="heading-44" data-parent="#faq-22">
<div class="card-body">
<ul>
  <li>FedEx 2 Day is $12.</li>
  <li>FedEx 2 Day with signature confirmation is $16.</li>
  <li>Orders over $150 ship for free via FedEx 2 Day. If you would like to add a signature confirmation it is $4.</li>
  <li>ALL ORDERS OVER $1,000 WILL AUTOMATICALLY BE SHIPPED WITH A SIGNATURE REQUIRED. </li>
  <li><strong>WE ONLY SHIP WITHIN THE US. </strong></li>
  <li><strong>WE DO NOT SHIP TO PO BOXES. </strong></li>
</ul>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-55"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-55" aria-expanded="false" aria-controls="collapse-55">DELIVERY ISSUES?</a></div>
<div id="collapse-55" class="collapse" aria-labelledby="heading-55" data-parent="#faq-22">
<div class="card-body">
<p>Once items have been fulfilled and shipped by us, it is the responsibility of FedEx to get your items to you on time. The delivery confirmation serves as official notice that our merchandise has successfully reached its destination. After receiving official word from FedEx that the item has been delivered, Lola James Jewelry is <strong>NOT</strong> responsible for lost or stolen items.</p>
<p>We are not responsible for packages that are lost or not delivered due to an insufficient or incorrect address or a full mailbox. If the package is returned to us you are responsible for the shipping cost to reship the merchandise.</p>
<p>If you select signature required and are not there to sign for it and the package gets returned to us, you are responsible for the shipping cost to reship the merchandise.</p>
<p>If the package is not showing up as having been delivered, we, the shipper, will file a claim with FedEx and come to a resolution. When filing a report with FedEx, it can take up to 14 business days for the claim to be completed. We are unable to replace the lost or stolen item until the claim is completed with FedEx.</p>
</div>
</div>
</div>

</div>

<h3>Technical Issues</h3>
<div class="accordion mb-4" id="faq-31">
<div class="card">
<div class="card-header" id="heading-66"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-66" aria-expanded="false" aria-controls="collapse-66">HELP! IT LOOKS LIKE I WAS CHARGED SEVERAL TIMES?</a></div>
<div id="collapse-66" class="collapse" aria-labelledby="heading-66" data-parent="#faq-31">
<div class="card-body">
<p>Unless you received an order confirmation, we did not charge your card. If your credit card was declined, you may see pending transactions for each attempt to submit payment. Depending on your bank the pending transaction will clear up within a few business days and will never turn into a charge. You will always get an email confirmation when an order is successfully placed on our site. Please check your billing address before submitting the order again.</p>
</div>
</div>
</div>
</div>

<h3>Jewelry Care</h3>
<div class="accordion mb-4" id="faq-51">
<div class="card">
<div class="card-header" id="heading-77"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-77" aria-expanded="false" aria-controls="collapse-77">HOW DO I CARE FOR MY JEWELRY?</a></div>
<div id="collapse-77" class="collapse" aria-labelledby="heading-77" data-parent="#faq-51">
<div class="card-body">
<p>Please keep all jewelry away from moisture (no water, lotions or perfumes). Many beauty products can cause tarnishing of metals. We recommend taking off your jewelry to shower. Please do not sleep in your jewelry and when not in use jewelry should be neatly stored. We recommend giving your pieces a day off to limit wear and tear.</p>
<p>Sterling silver jewelry tends to naturally oxidize over time.  We recommend cleaning it with a polishing cloth.</p>
<p>To clean your 14K Gold and diamond jewelry we recommend using a gentle dish soap with warm water. </p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-88"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-88" aria-expanded="false" aria-controls="collapse-88">LOCK IT UP BRACELET – HELP I LOST MY SCREW!</a></div>
<div id="collapse-88" class="collapse" aria-labelledby="heading-88" data-parent="#faq-51">
<div class="card-body">
<p>We do carry a few extra screws. They can be ordered here: <a href="https://lola-james-jewelry.myshopify.com/products/extra-screw?variant=53637750357">http://www.lolajamesjewelry.com/product/extra-screw</a>.</p>
</div>
</div>
</div>

</div>


<h3>Repair Policy</h3>
<div class="accordion mb-4" id="faq-61">
<div class="card">
<div class="card-header" id="heading-99"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-99" aria-expanded="false" aria-controls="collapse-99">WHAT IS YOUR REPAIR POLICY? </a></div>
<div id="collapse-99" class="collapse" aria-labelledby="heading-99" data-parent="#faq-61">
<div class="card-body">
<p>We offer complimentary repairs within the first 30 days of purchase. We will repair only designs purchased through lolajamesjewelry.com.  We ship all repairs back via USPS mail. </p>
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="heading-100"><a href=""  class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse-100" aria-expanded="false" aria-controls="collapse-100">Please fill out this form: </a></div>
<div id="collapse-100" class="collapse" aria-labelledby="heading-100" data-parent="#faq-61">
<div class="card-body">
  <p><a href="https://lolajamesjewelry.com/pages/repairs">https://lolajamesjewelry.com/pages/repairs</a></p>
<p>Please note that any repair after 30 days will incur a fee based on the type of repair necessary.  We only accept repairs for up to one year after the date of purchase. </p>
<p>Please allow 4-6 weeks for all repairs.  All repairs are subject to shipping.</p>
<br>
</div>
</div>
</div>

</div>

<h3>Returns and Exchanges</h3>
<div class="accordion mb-4" id="faq-81">
<div class="card">
<div class="card-header" id="heading-77"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-77" aria-expanded="false" aria-controls="collapse-77">WHAT IS YOUR RETURN POLICY?</a></div>
<div id="collapse-77" class="collapse" aria-labelledby="heading-77" data-parent="#faq-81">
<div class="card-body">      
<p><strong>All sale items, special orders, and personalized styles cannot be returned and are FINAL SALE.</strong>  No exceptions. This includes items that have a single initial.</p>
<p>Items that are marked final sale cannot be returned or exchanged.  </p>
<p>Cancellations, changes, or returns are not allowed on personalized styles as they are made to order and are <strong>FINAL SALE.</strong></p>
<p>Items not listed above are available for <strong>exchange</strong> or <strong>STORE CREDIT</strong> within 7 days of shipment date. <strong>We do not offer refunds. No exceptions.</strong></p>
<p>Store credit will be issued, provided that the jewelry has not been damaged, worn, or altered.</p>
<p>Your items must be returned in the original packaging, including any pouches or boxes that the jewelry was shipped in. </p>
<p>Shipping and handling charges are non-refundable.  </p>
  
</div>
</div>
</div>

</div>


<div class="accordion mb-4" id="faq-71">
<div class="card">
<div class="card-header" id="heading-111"><a href=""  class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse-111" aria-expanded="false" aria-controls="collapse-111">HOW DO I SEND AN ITEM BACK?</a></div>
<div id="collapse-111" class="collapse" aria-labelledby="heading-111" data-parent="#faq-71">
<div class="card-body">
<ul>
<li>STEP 1: Please contact info@lolajamesjewelry.com to receive a return authorization&nbsp;number. &nbsp;Please include your order number in the email. We will not accept any returns without an authorized RA number.</li>
</ul>
  <ul>
<li>STEP 2: Before you send the return, please ensure the item is in the <strong><span>original</span></strong> packaging and in a shipping box to avoid further damage. Sending in an envelope may damage the item further.</li>
</ul>
<ul>
<li>STEP 3: Ship the item to the below address via an insured mail service, such as FedEx, UPS, or USPS, and insure the package for the cost of the item. If using USPS, packages must have delivery confirmation to enable detailed tracking information.</li>
</ul>
<p>If we do not receive your return package as described above we reserve the right to refuse your return. Lola James Jewelry is not responsible for return items lost or damaged in the mail.<br><br><span><strong>RETURN ADDRESS:</strong></span><br>Lola James Jewelry<br>20533 Biscayne Blvd. #208<br>Aventura, FL 33180</p>


</div>
</div>
</div>

</div-->

  
  <h3>Important Extra Information</h3>
<p>All of our personalized jewelry is hand made.  The font, text or engraving might not be perfect.  Slight imperfections can occur during the manufacturing process.  </p>
<p>Please make sure to read the descriptions for exact measurements.  Some of our images are zoomed in to show as much detail as possible.  Items may appear larger from the image.  Make sure to double check and read the measurements! </p>
<p>If you receive your necklace and want to change the chain length, there is a fee to do so.  We make all orders to the requested length when the order is placed.  Please note the name is NOT included in the chain length.  </p>
<p><strong>Measurement is based on the necklace closed.</strong> Hold it at the clasp and measure from top to the bottom of the chain, then double the measurement.</p>

</div>

    
  </div>
</div>
<p>&nbsp;</p>
